fastapi
uvicorn[standard]
sqlalchemy
alembic
asyncpg
celery
redis==5.2.1
passlib[bcrypt]
python-dotenv
pydantic[email]
bcrypt==4.0.1
python-jose[cryptography]
slowapi
prometheus-client
prometheus-fastapi-instrumentator
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-sqlalchemy
opentelemetry-instrumentation-celery
opentelemetry-instrumentation-redis
opentelemetry-exporter-otlp-proto-http
httpx
openai
